# Build a model to predict the types of iris flower using Logistic Regression

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
import pandas as pd
df=pd.read_json('iris.json')
df

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
df.shape

(150, 5)

In [4]:
df.info

<bound method DataFrame.info of      sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]>

In [5]:
 df.head

<bound method NDFrame.head of      sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]>

In [6]:
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [7]:
df.tail()

     sepalLength  sepalWidth  petalLength  petalWidth    species
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

In [8]:
df.describe()

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [9]:
df.isnull().sum()

sepalLength    0
sepalWidth     0
petalLength    0
petalWidth     0
species        0
dtype: int64

In [10]:
df.groupby("species").mean().T

species      setosa  versicolor  virginica
sepalLength   5.006       5.936      6.588
sepalWidth    3.428       2.770      2.974
petalLength   1.462       4.260      5.552
petalWidth    0.246       1.326      2.026

In [11]:
x=df.drop(["species"],axis=1)
x

     sepalLength  sepalWidth  petalLength  petalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [12]:
y=df["species"]
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
import pandas as pd
import seaborn as sns
df=pd
data=df
sns.boxplot(x='size',y='species',data=df)

In [2]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train ,y_test = train_test_split (x, y, test_size = 0.2, random_state = 10 )

In [15]:
x_train

     sepalLength  sepalWidth  petalLength  petalWidth
58           6.6         2.9          4.6         1.3
97           6.2         2.9          4.3         1.3
129          7.2         3.0          5.8         1.6
114          5.8         2.8          5.1         2.4
146          6.3         2.5          5.0         1.9
..           ...         ...          ...         ...
113          5.7         2.5          5.0         2.0
64           5.6         2.9          3.6         1.3
15           5.7         4.4          1.5         0.4
125          7.2         3.2          6.0         1.8
9            4.9         3.1          1.5         0.1

[120 rows x 4 columns]

In [16]:
from sklearn.datasets import load_digits
df=load_digits()
dir(df)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [17]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [18]:
model.fit(x_train,y_train)

LogisticRegression()

In [19]:
y_predicted=model.predict(x_test)

In [20]:
model.predict_proba(x_test)

array([[3.57963447e-03, 8.83699032e-01, 1.12721334e-01],
       [1.08402515e-04, 1.44426137e-01, 8.55465460e-01],
       [9.72036155e-01, 2.79637586e-02, 8.59193144e-08],
       [5.72487836e-03, 7.83931076e-01, 2.10344046e-01],
       [9.74356835e-01, 2.56430778e-02, 8.75560774e-08],
       [6.35612845e-02, 9.24604327e-01, 1.18343886e-02],
       [9.32614743e-04, 5.54528327e-01, 4.44539059e-01],
       [2.04399783e-02, 9.48834554e-01, 3.07254681e-02],
       [9.69353977e-01, 3.06458975e-02, 1.25509917e-07],
       [8.52158629e-03, 8.13620835e-01, 1.77857578e-01],
       [1.01054273e-02, 7.24351631e-01, 2.65542941e-01],
       [3.28052935e-04, 1.64166436e-01, 8.35505512e-01],
       [1.82299275e-02, 9.15869529e-01, 6.59005433e-02],
       [9.66429462e-01, 3.35704049e-02, 1.33552408e-07],
       [9.80560316e-01, 1.94395926e-02, 9.15143553e-08],
       [3.57528165e-05, 7.68173673e-02, 9.23146880e-01],
       [1.15320769e-02, 7.47721994e-01, 2.40745929e-01],
       [9.82583250e-01, 1.74166768e-02, 7.34760862e-08],
       [9.77517156e-01, 2.24827039e-02, 1.40309077e-07],
       [9.80999462e-01, 1.90004994e-02, 3.83074157e-08],
       [4.85808368e-06, 3.24442301e-02, 9.67550912e-01],
       [1.40783864e-05, 3.41061611e-02, 9.65879760e-01],
       [1.34380831e-03, 4.38925786e-01, 5.59730406e-01],
       [9.46323165e-01, 5.36760186e-02, 8.16780372e-07],
       [1.75508065e-02, 8.69236065e-01, 1.13213128e-01],
       [9.82085386e-01, 1.79145559e-02, 5.83396856e-08],
       [2.38884071e-02, 9.12534921e-01, 6.35766719e-02],
       [1.07063316e-02, 8.56031577e-01, 1.33262092e-01],
       [1.49260741e-03, 7.62741388e-01, 2.35766004e-01],
       [2.13538961e-07, 5.28163549e-03, 9.94718151e-01]])

In [21]:
from sklearn import metrics

In [22]:
metrics.accuracy_score(y_test,y_predicted)

1.0

In [23]:
from sklearn.metrics import accuracy_score
print("The accuracy=",accuracy_score(y_test,y_predicted))

The accuracy= 1.0